{% extends 'mailapp/base.html'%}
{% load static %}
{% block content %}


<div class="row text-right">
    <div class="col-12 mb-3">
        <div class="card mb-3 box-shadow">
            <br>
            <div class="btn-group">
                &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"
                                        href="{%url 'mailapp:mail_create' %}">Добавить email</a> &nbsp; &nbsp;
                &nbsp;
            </div>
            <br>
        </div>
    </div>


    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object | title}}</b></div>
                </h5>
                <p class="card-text">


                <table class="table-responsive">
                    <tr>
                        <th>Обращение</th>
                        <th>email</th>
                        <th>комментарий</th>
                        <th>Подписан на рассылку</th>
                        <th>Активен</th>
                        <th>Посмотреть</th>
                        <th>Изменить</th>
                        <th>Удалить</th>

                    </tr>

                    {% if only_users == True %}

                    {% for object in object_list %}
                    {% if user == object.mailing.user %}


                    <tr>

                        <td>{{object.name}}</td>
                        <td>{{object.email}}</td>
                        <td>{{object.comment}}</td>
                        <td>{{object.mailing}}</td>
                        <td>{{object.is_active}}</td>



                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_detail' object.pk %}"
                               role="button">Посмотреть</a>
                        </td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_update' object.pk %}"
                               role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_delete' object.pk%}"
                               role="button">Удалить</a>
                        </td>

                        {%endif%}


                    </tr>
                    {% endfor %}


                    {% else %}


                    {% for object in object_list %}


                    <tr>

                        <td>{{object.name}}</td>
                        <td>{{object.email}}</td>
                        <td>{{object.comment}}</td>
                        <td>{{object.mailing}}</td>
                        <td>{{object.is_active}}</td>


                        {% if user == object.mailing.user %}
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_detail' object.pk %}"
                               role="button">Посмотреть</a>
                        </td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_update' object.pk %}"
                               role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:mail_delete' object.pk%}"
                               role="button">Удалить</a>
                        </td>

                        {% else %}
                        <td><a class="btn btn-secondary" disabled>Посмотреть</a>
                        </td>
                        <td><a class="btn btn-secondary" disabled>Изменить</a>
                        </td>
                        <td><a class="btn btn-secondary" disabled>Удалить</a>
                        </td>
                        {%endif%}


                    </tr>
                    {% endfor %}
                    {%endif%}

                </table>

                </p>
            </div>
        </div>


    </div>


</div>

{% endblock %}