{% extends 'mailapp/base.html'%}
{% load static %}
{% block content %}


<div class="row text-right">
    <div class="col-12 mb-3">
        <div class="card mb-3 box-shadow">
            <br>
            <div class="btn-group">
                &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"
                                        href="{%url 'mailapp:mailing_create' %}">Добавить рассылку</a> &nbsp; &nbsp; &nbsp;
            </div>
            <br>
        </div>
    </div>


    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b> Рассылки: </b></div>
                </h5>
                <p class="card-text">

                <table class="table table-stripped">
                    <tr>
                        <th>Название</th>
                        <th>Текст рассылки</th>
                        <th>Дата создания</th>
                        <th>Статус</th>
                        <th>Время рассылки</th>
                        <th>Лог рассылки</th>
                        <th>Владелец рассылки</th>
                        <th>Информация</th>
                        <th>Изменить</th>
                        <th>Удалить</th>

                    </tr>


                    {% for object in object_list %}
                    <tr>

                        <td>{{object.title}}</td>
                        <td>{{object.message}}</td>
                        <td>{{object.created_at}}</td>
                        <td>{{object.status}}</td>
                        <td>{{object.datetime_send}}</td>
                        <td>{{object.mailing_log}}</td>
                        <td>{{object.user}}</td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:user_detail' object.pk%}" role="button">Информация</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:user_update' object.pk%}"
                               role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:user_delete' object.pk%}"
                               role="button">Удалить</a>
                        </td>

                    </tr>

                    {% endfor %}

                </table>

                </p>

            </div>
        </div>

    </div>

</div>


</div>

{% endblock %}