{% extends 'mailapp/base.html'%}
{% load static %}

{% block content %}

<div class="row text-right">

    <div class="col-6">

        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Информация о рассылке</h4>
            </div>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object.name}}</b></div>
                </h5>
                <p class="card-text">

                    <b>Название рассылки:</b> {{ object.title }} <br>
                    <b>Текст рассылки:</b> {{ object.message }} <br>
                    <b>Рассылка создана:</b> {{ object.created_at }} <br>
                    <b>Статус активности:</b> {{ object.status }} <br>
                    <b>Время отправки:</b> {{ object.datetime_send }} <br>
                    <b>Пользователь (создатель рассылки):</b> {{ object.user }} <br>


                <hr>
                <h5 class="card-title">
                    <div style="color: orange"><b>Список адресов рассылки:</b></div>
                </h5>


                <table class="table table-stripped">
                    <tr>
                        <th>Обращение</th>
                        <th>Email</th>
                        <th>Комментарий</th>
                        <th>Активен</th>


                    </tr>


                    {% for email in emails%}
                    <tr>

                        <td>{{email.name}}</td>
                        <td>{{email.email}}</td>
                        <td>{{email.comment}}</td>
                        <td>{{email.is_active}}</td>

                    </tr>


                    {% endfor %}


                </table>


                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'mailapp:mailing_list' %}" role="button">Вернуться к
                        каталогу</a>


                </div>
                <br>


            </div>


        </div>


    </div>
    <div class="col-6">

        <div class="card mb-3 box-shadow">


            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Информация о рассылке</h4>
            </div>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object.name}}</b></div>
                </h5>
                <p class="card-text">

                <h5 class="card-title">
                    <div style="color: orange"><b>Список логов рассылки:</b></div>
                </h5>


                <table class="table table-stripped">
                    <tr>
                        <th>Текст лога</th>
                        <th>Создан</th>
                        <th>Изменен</th>

                    </tr>


                    {% for log_item in logs%}
                    <tr>

                        <td>{{log_item.log_text}}</td>
                        <td>{{log_item.created_at}}</td>
                        <td>{{log_item.updated_at}}</td>

                    </tr>


                    {% endfor %}


                </table>


                </p>
                <br>


            </div>


        </div>


    </div>


</div>

{% endblock %}