{% extends 'mailapp/base.html'%}
{% load static %}
{% block content %}


<div class="row text-right">
    <!--    <div class="col-12 mb-3">-->
    <!--        <div class="card mb-3 box-shadow">-->
    <!--            <br>-->
    <!--            <div class="btn-group">-->
    <!--                &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"-->
    <!--                                        href="{%url 'mailapp:mailing_create' %}">Добавить рассылку</a> &nbsp; &nbsp;-->
    <!--                &nbsp;-->
    <!--            </div>-->
    <!--            <br>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b> Рассылки: </b></div>

                </h5>
                <p class="card-text">

                <table class="table table-stripped">
                    <tr>
                        <th>Время отправки</th>
                        <th>Периодичность (в днях)</th>
                        <th>Статус</th>
                        <th>Активность</th>
                        <th>Рассылка</th>
                        <th>Изменить</th>


                    </tr>

                    {% if only_users == True %}


                    {% for object in object_list %}
                    {% for mailing_item in mailings %}
                    {%if mailing_item.settings_id == object.id and mailing_item.user == user %}

                    <tr>

                        <td>{{object.datetime_send}}</td>
                        <td>{{object.periodicity}}</td>
                        <td>{{object.status}}</td>
                        <td>{{object.active}}</td>

                        <td>{{mailing_item}}</td>

                        <td>
                            <a class="btn btn-primary"
                               href="{%url 'mailapp:settings_update' mailing_item.settings_id %}"
                               role="button">Изменить</a>
                        </td>


                    </tr>

                    {%endif%}
                    {%endfor%}
                    {%endfor%}


                    {% else %}


                    {% for object in object_list %}

                    <tr>

                        <td>{{object.datetime_send}}</td>
                        <td>{{object.periodicity}}</td>
                        <td>{{object.status}}</td>
                        <td>{{object.active}}</td>

                        {%for mailing_item in mailings%}
                        {%if mailing_item.settings_id == object.id%}

                        <td>{{mailing_item}}</td>

                        {%if mailing_item.user == user%}
                        <td>
                            <a class="btn btn-primary"
                               href="{%url 'mailapp:settings_update' mailing_item.settings_id %}"
                               role="button">Изменить</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-secondary" disabled>Изменить</a>
                        </td>
                        {%endif%}
                        {%endif%}
                        {%endfor%}


                    </tr>


                    {%endfor%}

                    {% endif %}
                </table>

                </p>

            </div>
        </div>

    </div>

</div>


</div>

{% endblock %}


