{% extends 'mailapp/base.html'%}
{% load static %}
{% block content %}


<div class="row text-right">
    <!--    <div class="col-12 mb-3">-->
    <!--        <div class="card mb-3 box-shadow">-->
    <!--            <br>-->
    <!--&lt;!&ndash;            <div class="btn-group">&ndash;&gt;-->
    <!--&lt;!&ndash;                &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"&ndash;&gt;-->
    <!--&lt;!&ndash;                                        href="{%url 'mailapp:mail_create' %}">Добавить или изменить сообщение</a> &nbsp; &nbsp; &nbsp;&ndash;&gt;-->
    <!--&lt;!&ndash;            </div>&ndash;&gt;-->
    <!--            <br>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="col-12">

        <div class="card mb-3 box-shadow">


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object | title}}</b></div>
                </h5>
                <p class="card-text">


                <table class="table table-stripped">
                    <tr>
                        <th>Сообщение</th>
                        <th>Текст сообщения</th>
                        <th>Рассылка</th>

                        <th>Изменить сообщение</th>

                    </tr>
                    {% if only_users == True %}


                    {% for object in object_list %}

                    {%for mailing_item in mailings%}
                    {%if mailing_item.message_id == object.id%}
                    {%if mailing_item.user == user%}

                    <tr>

                        <td>{{object.title}}</td>
                        <td>{{object.body}}</td>

                        <td>{{mailing_item}}</td>

                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:message_update' mailing_item.message_id %}"
                               role="button">Изменить</a>
                        </td>

                    </tr>
                    {%endif%}
                    {%endif%}
                    {% endfor %}
                    {% endfor %}


                    {%else%}

                    {% for object in object_list %}


                    <tr>

                        <td>{{object.title}}</td>
                        <td>{{object.body}}</td>

                        {%for mailing_item in mailings%}
                        {%if mailing_item.message_id == object.id%}
                        <td>{{mailing_item}}</td>

                        {%if mailing_item.user == user%}
                        <td>
                            <a class="btn btn-primary" href="{%url 'mailapp:message_update' mailing_item.message_id %}"
                               role="button">Изменить</a>
                        </td>
                        {% else %}
                        <td>
                            <a class="btn btn-secondary" disabled>Изменить</a>
                        </td>
                        {%endif%}
                        {%endif%}
                        {%endfor%}


                    </tr>
                    {% endfor %}

                    {%endif%}


                </table>

                </p>
            </div>
        </div>


    </div>


</div>

{% endblock %}