{% extends 'mailapp/base.html'%}
{% block content %}

<form class="row" method="post" enctype="multipart/form-data">

    <div class="col-6">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавить рассылку</h4>
                </div>
                <div class="card-body">
                    {{object.id}}
                    <br>
                    <br>


                    <div class="mb-3">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>

                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        {% if object %}
                        Изменить
                        {% else %}
                        Создать
                        {% endif %}


                    </button>

                </div>
            </div>
        </div>
    </div>
    </form>
</div>


{% endblock %}