{% extends 'mailapp/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Для входа на сайт подтвердите email-адрес, перейдя по ссылке в письме, отправленном на ваш email:
                            <br>
                            {{email}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}