{% extends 'mailing/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Срок действия ссылки истёк. Для восстановления пароля запросите новую ссылку.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}