{% extends 'mailapp/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="row text-right">

    <div class="col-12">

        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Информация о пользователе</h4>
            </div>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object.name}}</b></div>
                </h5>
                <p class="card-text">

                    <b>Аватар:</b><br> <img src="{{ object.avatar|user_media_filter }}" width="100"
                                            alt={{object.avatar|user_media_filter}}> <br>
                    <b>Имя:</b> {{object.name}} <br>
                    <b>Email:</b> {{object.email}} <br>
                    <b>Телефон:</b> {{object.phone_number}} <br>
                    <b>Должность == Модератор:</b> {{object.is_moderator}} <br>
                    <b>Должность == Контент-менеджер:</b> {{object.is_content_manager}} <br>
                    <b>Комментарий:</b> {{object.description}} <br>

                <hr>
                <h5 class="card-title">
                    <div style="color: orange"><b>Список рассылок пользователя:</b></div>
                </h5>

                <table class="table table-stripped">
                    <tr>

                        <th>Название</th>
                        <th>Текст рассылки</th>
                        <th>Дата создания</th>
                        <th>Статус</th>
                        <th>Время рассылки</th>

                    </tr>

                    {% for mailing_item in mailing_list %}
                    <tr>


                        <td>{{mailing_item.title}}</td>
                        <td>{{mailing_item.message}}</td>
                        <td>{{mailing_item.created_at}}</td>
                        <td>{{mailing_item.settings.status}}</td>
                        <td>{{mailing_item.settings.datetime_send}}</td>

                    </tr>

                    {% endfor %}

                </table>


                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'users:user_list' %}" role="button">Вернуться к
                        каталогу</a>


                </div>
                <br>


            </div>


        </div>


    </div>


</div>

{% endblock %}