{% extends 'mailapp/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    {% if perms.blogapp.add_article %}
    <div class="col-12 mb-3">
        <div class="card mb-3 box-shadow">
            <br>
            <div class="btn-group">
                &nbsp; &nbsp; &nbsp; <a class="p-2 btn btn-outline-primary btn-lg btn-block"
                                        href="{%url 'blogapp:article_create' %}">Добавить статью в блог</a> &nbsp; &nbsp;

                &nbsp;
            </div>
            <br>
        </div>
    </div>
    {%endif%}

    {% for object in object_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt={{object.image|media_filter}}>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b> {{object.title}}</b></div>
                </h5>
                <p class="card-text">
                  {% if object.body|comment_markdown|length >= 300 %}
                    {{ object.body|comment_markdown|slice:":300"}} ...
                    {% else %}
                    {{ object.body}}
                    {% endif %}
                </p>
                <br>
                <p class="card-text">
                    <b>Опубликовано: </b> {{object.created_at}}<br>
                   </p>


                <div class="btn-group">
                    {% comment "кнопка спрятана, теперь переход по slug %}
                     <a class="btn btn-success" href="{% url 'blogapp:article_detail' object.pk%}" role="button">Посмотреть</a>

                     <a class="btn btn-success" href="{% url 'blogapp:article_update' object.pk%}" role="button">Изменить</a>

                    <a class="btn btn-success" href="{% url 'blogapp:article_delete' object.pk%}" role="button">Удалить</a>
                    {% endcomment %}

                    <a class="btn btn-success" href="{% url 'blogapp:article_detail' object.slug%}" role="button">Посмотреть</a>

                    {% if perms.blogapp.change_article or user.is_superuser %}
                    <a class="btn btn-success" href="{% url 'blogapp:article_update' object.slug%}" role="button">Изменить</a>
                    {%endif%}

                   {% if perms.blogapp.delete_article or user.is_superuser %}

                     <a class="btn btn-danger" href="{% url 'blogapp:article_delete' object.slug%}" role="button">Удалить</a>

                    {%endif%}







                </div>

            </div>

    </div>


    </div>
    {% endfor %}



</div>

{% endblock %}